@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

body {
  background: #282c34;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
}

.center-text {
  text-align: center;
}

.container {
  margin-top: 30px;
  background-color: #282c34;

  @media print {
    margin-top: 20px;
  }
}

.header-container {
  margin-top: 50px;
  background-color: #282c34;
}

.page-content {
  background-color: #282c34;
  padding: 0;
}

.header-right {
  text-align: right;
}

.header-left {
  margin-top: 30px;

  @media print {
    margin-top: 0px;
  }
}

.header-right p {
  font-size: 1.6rem;
  text-align: right;
}

.header-right p.contact-item {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 1rem;
}

hr {
  border-color: #3e4451;
}

// ========== Print Styles ==========

@media print {
  a[href]:after {
    content: none !important;
  }

  img[src]:after {
    content: none !important;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9  { width: 75%; }
  .col-sm-8  { width: 66.66666667%; }
  .col-sm-7  { width: 58.33333333%; }
  .col-sm-6  { width: 50%; }
  .col-sm-5  { width: 41.66666667%; }
  .col-sm-4  { width: 33.33333333%; }
  .col-sm-3  { width: 25%; }
  .col-sm-2  { width: 16.66666667%; }
  .col-sm-1  { width: 8.33333333%; }
  .col-print-12 { width: 100%; }

  .no-print, .no-print * {
    display: none !important;
  }
}
